.pipe {
  --copper-global-colorScheme: dark;
  --copper-colors-staticSurfaceNested: #111318;
  --copper-colors-staticSurfaceDefault: #15181e;
  --copper-colors-staticSurfaceRaised: #1a1d23;
  --copper-colors-staticSurfaceElevated: #22262f;
  --copper-colors-staticSurfaceScrim: #000000b8;
  --copper-colors-staticSurfaceInverseNested: #eeeff1;
  --copper-colors-staticSurfaceInverseDefault: #ffffff;
  --copper-colors-staticSurfaceInverseRaised: #e3e5e8;
  --copper-colors-staticSurfaceInverseElevated: #d3d5d9;
  --copper-colors-staticSurfaceInverseScrim: #15181eb8;
  --copper-colors-staticSurfaceSentimentInformative: #3c5dc752;
  --copper-colors-staticSurfaceSentimentNeutral: #454d5f52;
  --copper-colors-staticSurfaceSentimentPositive: #2e733252;
  --copper-colors-staticSurfaceSentimentCaution: #a3580852;
  --copper-colors-staticSurfaceSentimentNegative: #c4313152;
  --copper-colors-staticSurfaceSentimentInverseInformative: #b2c6ff;
  --copper-colors-staticSurfaceSentimentInverseNeutral: #dddfe4;
  --copper-colors-staticSurfaceSentimentInversePositive: #93d995;
  --copper-colors-staticSurfaceSentimentInverseCaution: #e5ba85;
  --copper-colors-staticSurfaceSentimentInverseNegative: #e59c9c;
  --copper-colors-staticContentStrong: #ffffff;
  --copper-colors-staticContentDefault: #e3e5e8eb;
  --copper-colors-staticContentModerate: #e3e5e8b8;
  --copper-colors-staticContentWeak: #e3e5e885;
  --copper-colors-staticContentInverseStrong: #15181e;
  --copper-colors-staticContentInverseDefault: #15181ef5;
  --copper-colors-staticContentInverseModerate: #15181ed6;
  --copper-colors-staticContentInverseWeak: #15181ea3;
  --copper-colors-staticContentSentimentInformative: #809fff;
  --copper-colors-staticContentSentimentNeutral: #afb5c0;
  --copper-colors-staticContentSentimentPositive: #7bcc7e;
  --copper-colors-staticContentSentimentCaution: #dba060;
  --copper-colors-staticContentSentimentNegative: #e08787;
  --copper-colors-staticContentSentimentInverseInformative: #284185;
  --copper-colors-staticContentSentimentInverseNeutral: #212631;
  --copper-colors-staticContentSentimentInversePositive: #1f4d22;
  --copper-colors-staticContentSentimentInverseCaution: #6c3b0b;
  --copper-colors-staticContentSentimentInverseNegative: #661919;
  --copper-colors-staticDividerWeak: #2b303b;
  --copper-colors-staticDividerDefault: #3f4550;
  --copper-colors-staticDividerStrong: #535965;
  --copper-colors-staticDividerInverseWeak: #d3d5d9;
  --copper-colors-staticDividerInverseDefault: #bdc0c7;
  --copper-colors-staticDividerInverseStrong: #a7abb4;
  --copper-colors-staticDividerSentimentInformative: #456de552;
  --copper-colors-staticDividerSentimentNeutral: #7d89a152;
  --copper-colors-staticDividerSentimentPositive: #3d994252;
  --copper-colors-staticDividerSentimentCaution: #c4751f52;
  --copper-colors-staticDividerSentimentNegative: #d1494952;
  --copper-colors-interactiveFillPrimaryEnabled: #3c5dc7;
  --copper-colors-interactiveFillPrimaryHover: #456de5;
  --copper-colors-interactiveFillPrimaryPressed: #5e81eb;
  --copper-colors-interactiveFillPrimaryDisabled: #3c5dc73d;
  --copper-colors-interactiveFillPrimaryOnEnabled: #f9f9fa;
  --copper-colors-interactiveFillPrimaryOnDisabled: #f9f9fa52;
  --copper-colors-interactiveFillPrimaryText: #809fff;
  --copper-colors-interactiveFillSecondaryEnabled: #7d89a129;
  --copper-colors-interactiveFillSecondaryHover: #7d89a13d;
  --copper-colors-interactiveFillSecondaryPressed: #7d89a152;
  --copper-colors-interactiveFillSecondaryDisabled: #7d89a10a;
  --copper-colors-interactiveFillSecondaryOnEnabled: #f9f9fa;
  --copper-colors-interactiveFillSecondaryOnDisabled: #f9f9fa52;
  --copper-colors-interactiveFillSecondaryText: #afb5c0;
  --copper-colors-interactiveFillInverseEnabled: #2b303b;
  --copper-colors-interactiveFillInverseHover: #22262f;
  --copper-colors-interactiveFillInversePressed: #1a1d23;
  --copper-colors-interactiveFillInverseDisabled: #2b303b3d;
  --copper-colors-interactiveFillInverseOnEnabled: #f9f9fa;
  --copper-colors-interactiveFillInverseOnDisabled: #2b303b70;
  --copper-colors-interactiveFillInverseText: #3f4550;
  --copper-colors-interactiveFillNegativeEnabled: #c43131;
  --copper-colors-interactiveFillNegativeHover: #d14949;
  --copper-colors-interactiveFillNegativePressed: #d95b5b;
  --copper-colors-interactiveFillNegativeDisabled: #c431313d;
  --copper-colors-interactiveFillNegativeOnEnabled: #f9f9fa;
  --copper-colors-interactiveFillNegativeOnDisabled: #f9f9fa52;
  --copper-colors-interactiveFillNegativeText: #e08787;
  --copper-colors-interactiveFillUtilitySelected: #353b46;
  --copper-colors-interactiveFillUtilityOnSelected: #f9f9fa;
  --copper-colors-interactiveFillUtilityInput: #7d89a105;
  --copper-colors-interactiveFillCautionEnabled: #a35808;
  --copper-colors-interactiveOutlinePrimaryEnabled: #456de552;
  --copper-colors-interactiveOutlinePrimaryHover: #456de566;
  --copper-colors-interactiveOutlinePrimaryPressed: #456de57a;
  --copper-colors-interactiveOutlinePrimaryDisabled: #456de529;
  --copper-colors-interactiveOutlinePrimarySelectedEnabled: #456de57a;
  --copper-colors-interactiveOutlinePrimarySelectedHover: #456de58f;
  --copper-colors-interactiveOutlinePrimarySelectedPressed: #456de5a3;
  --copper-colors-interactiveOutlineSecondaryEnabled: #7d89a152;
  --copper-colors-interactiveOutlineSecondaryHover: #7d89a166;
  --copper-colors-interactiveOutlineSecondaryPressed: #7d89a17a;
  --copper-colors-interactiveOutlineSecondaryDisabled: #7d89a129;
  --copper-colors-interactiveOutlineSecondarySelectedEnabled: #7d89a17a;
  --copper-colors-interactiveOutlineSecondarySelectedHover: #7d89a18f;
  --copper-colors-interactiveOutlineSecondarySelectedPressed: #7d89a1a3;
  --copper-colors-interactiveOutlineInverseEnabled: #1a1d2347;
  --copper-colors-interactiveOutlineInverseHover: #1a1d2366;
  --copper-colors-interactiveOutlineInversePressed: #1a1d238f;
  --copper-colors-interactiveOutlineInverseDisabled: #1a1d2329;
  --copper-colors-interactiveOutlineInverseSelectedEnabled: #1a1d2399;
  --copper-colors-interactiveOutlineInverseSelectedHover: #1a1d23b8;
  --copper-colors-interactiveOutlineInverseSelectedPressed: #1a1d23c2;
  --copper-colors-interactiveOutlineNegativeEnabled: #d1494952;
  --copper-colors-interactiveOutlineNegativeHover: #d1494966;
  --copper-colors-interactiveOutlineNegativePressed: #d149497a;
  --copper-colors-interactiveOutlineNegativeDisabled: #d1494929;
  --copper-colors-interactiveOutlineNegativeSelectedEnabled: #d149497a;
  --copper-colors-interactiveOutlineNegativeSelectedHover: #d149498f;
  --copper-colors-interactiveOutlineNegativeSelectedPressed: #d14949a3;
  --copper-colors-interactiveOverlayPrimaryEnabled: #3c5dc700;
  --copper-colors-interactiveOverlayPrimaryHover: #3c5dc714;
  --copper-colors-interactiveOverlayPrimaryPressed: #3c5dc729;
  --copper-colors-interactiveOverlayPrimaryDisabled: #3c5dc700;
  --copper-colors-interactiveOverlayPrimarySelectedEnabled: #3c5dc71f;
  --copper-colors-interactiveOverlayPrimarySelectedHover: #3c5dc73d;
  --copper-colors-interactiveOverlayPrimarySelectedPressed: #3c5dc752;
  --copper-colors-interactiveOverlaySecondaryEnabled: #7d89a100;
  --copper-colors-interactiveOverlaySecondaryHover: #7d89a114;
  --copper-colors-interactiveOverlaySecondaryPressed: #7d89a129;
  --copper-colors-interactiveOverlaySecondaryDisabled: #7d89a100;
  --copper-colors-interactiveOverlaySecondarySelectedEnabled: #7d89a11f;
  --copper-colors-interactiveOverlaySecondarySelectedHover: #7d89a13d;
  --copper-colors-interactiveOverlaySecondarySelectedPressed: #7d89a152;
  --copper-colors-interactiveOverlayNegativeEnabled: #c4313100;
  --copper-colors-interactiveOverlayNegativeHover: #c4313114;
  --copper-colors-interactiveOverlayNegativePressed: #c4313129;
  --copper-colors-interactiveOverlayNegativeDisabled: #c4313100;
  --copper-colors-interactiveOverlayNegativeSelectedEnabled: #c431311f;
  --copper-colors-interactiveOverlayNegativeSelectedHover: #c431313d;
  --copper-colors-interactiveOverlayNegativeSelectedPressed: #c4313152;
  --copper-colors-interactiveOverlayInverseEnabled: #1a1d2300;
  --copper-colors-interactiveOverlayInverseHover: #1a1d230a;
  --copper-colors-interactiveOverlayInversePressed: #1a1d2314;
  --copper-colors-interactiveOverlayInverseSelectedEnabled: #1a1d230f;
  --copper-colors-interactiveOverlayInverseSelectedHover: #1a1d2317;
  --copper-colors-interactiveOverlayInverseSelectedPressed: #1a1d231f;
  --copper-colors-transparent: transparent;
  --copper-shadows-staticElevationLow: 0px 4px 8px 0px #0405061f,
    0px 2px 4px 0px #0405061f, 0px 1px 1px 0px #0405061f,
    inset 0px 0px 0px 1px #ffffff0a;
  --copper-shadows-staticElevationMedium: 0px 12px 24px 0px #04050629,
    0px 8px 16px 0px #0405061f, 0px 4px 8px 0px #04050629,
    0px 1px 2px 0px #0405061f, 0px 2px 4px 0px #0405061f,
    inset 0px 0px 0px 1px #ffffff0a;
  --copper-shadows-staticElevationHigh: 0px 16px 32px 0px #0405061f,
    0px 12px 24px 0px #0405063d, 0px 4px 8px 0px #0405063d,
    0px 2px 4px 0px #04050629, 0px 1px 2px 0px #0405061f,
    0px 0px 2px 0px #0405061f, inset 0px 0px 0px 1px #ffffff0a;
  --copper-shadows-interactiveElevationLow: 0px 1px 2px 0px #04050629,
    0px 2px 4px 0px #04050640, 0px 1px 2px 0px #0405061f,
    inset 0px 0px 0px 1px #ffffff0a;
  --copper-shadows-interactiveElevationMedium: 0px 6px 12px 0px #04050629,
    0px 4px 8px 0px #04050629, 0px 2px 4px 0px #04050629,
    0px 2px 4px 0px #0405061f, inset 0px 0px 0px 1px #ffffff0a;
  --copper-shadows-interactiveElevationHigh: 0px 8px 16px 0px #0405063d,
    0px 4px 8px 0px #04050629, 0px 2px 4px 0px #04050629,
    inset 0px 0px 0px 1px #ffffff0a;
  --copper-shadows-interactiveFocusOutside: 0px 0px 0px 1px #090a0b,
    0px 0px 0px 4px #5081e266;
  --copper-shadows-interactiveFocusInside: inset 0px 0px 0px 1.5px #3b65ba,
    inset 0px 0px 0px 2.5px #090a0b;
  --copper-space-0: 0px;
  --copper-space-1: 4px;
  --copper-space-2: 8px;
  --copper-space-3: 12px;
  --copper-space-4: 16px;
  --copper-space-5: 20px;
  --copper-space-6: 24px;
  --copper-space-8: 32px;
  --copper-space-10: 40px;
  --copper-space-12: 48px;
  --copper-space-16: 64px;
  --copper-space-20: 80px;
  --copper-space-0_5: 2px;
  --copper-space-1_5: 6px;
  --copper-space-2_5: 10px;
  --copper-sizes-0: 0px;
  --copper-sizes-1: 4px;
  --copper-sizes-2: 8px;
  --copper-sizes-3: 12px;
  --copper-sizes-4: 16px;
  --copper-sizes-5: 20px;
  --copper-sizes-6: 24px;
  --copper-sizes-7: 28px;
  --copper-sizes-8: 32px;
  --copper-sizes-9: 36px;
  --copper-sizes-10: 40px;
  --copper-sizes-11: 44px;
  --copper-sizes-12: 48px;
  --copper-sizes-14: 56px;
  --copper-sizes-16: 64px;
  --copper-sizes-18: 72px;
  --copper-sizes-20: 80px;
  --copper-sizes-22: 88px;
  --copper-sizes-24: 96px;
  --copper-sizes-28: 112px;
  --copper-sizes-32: 128px;
  --copper-sizes-36: 144px;
  --copper-sizes-40: 160px;
  --copper-sizes-44: 176px;
  --copper-sizes-48: 192px;
  --copper-sizes-52: 208px;
  --copper-sizes-56: 224px;
  --copper-sizes-60: 240px;
  --copper-sizes-64: 256px;
  --copper-sizes-72: 288px;
  --copper-sizes-80: 320px;
  --copper-sizes-88: 352px;
  --copper-sizes-96: 384px;
  --copper-sizes-104: 416px;
  --copper-sizes-112: 448px;
  --copper-sizes-120: 480px;
  --copper-sizes-136: 544px;
  --copper-sizes-152: 608px;
  --copper-sizes-168: 672px;
  --copper-sizes-186: 744px;
  --copper-sizes-202: 808px;
  --copper-sizes-234: 936px;
  --copper-sizes-360: 1440px;
  --copper-sizes-0_5: 2px;
  --copper-sizes-1_5: 6px;
  --copper-sizes-2_5: 10px;
  --copper-borderWidths-0: 0px;
  --copper-borderWidths-1: 1px;
  --copper-borderWidths-2: 2px;
  --copper-borderWidths-4: 4px;
  --copper-borderWidths-8: 8px;
  --copper-borderStyles-solid: solid;
  --copper-borderStyles-dashed: dashed;
  --copper-borderStyles-dotted: dotted;
  --copper-borderStyles-double: double;
  --copper-borderStyles-hidden: hidden;
  --copper-borderStyles-none: none;
  --copper-radii-0: 0px;
  --copper-radii-2: 2px;
  --copper-radii-4: 4px;
  --copper-radii-6: 6px;
  --copper-radii-8: 8px;
  --copper-radii-10: 10px;
  --copper-radii-12: 12px;
  --copper-radii-14: 14px;
  --copper-radii-16: 16px;
  --copper-radii-20: 20px;
  --copper-radii-24: 24px;
  --copper-radii-28: 28px;
  --copper-radii-32: 32px;
  --copper-radii-circle: 9999px;
  --copper-fonts-titleHuge: Suisse Intl;
  --copper-fonts-titleLarge: Suisse Intl;
  --copper-fonts-titleDefault: Suisse Intl;
  --copper-fonts-titleMedium: Suisse Intl;
  --copper-fonts-titleSmall: Suisse Intl;
  --copper-fonts-titleTiny: Suisse Intl;
  --copper-fonts-paragraphLargeRegular: Inter;
  --copper-fonts-paragraphLargeStrong: Inter;
  --copper-fonts-paragraphLargeLink: Inter;
  --copper-fonts-paragraphLargeStrikethrough: Inter;
  --copper-fonts-paragraphDefaultRegular: Inter;
  --copper-fonts-paragraphDefaultStrong: Inter;
  --copper-fonts-paragraphDefaultLink: Inter;
  --copper-fonts-paragraphDefaultStrikethrough: Inter;
  --copper-fonts-paragraphMediumRegular: Inter;
  --copper-fonts-paragraphMediumStrong: Inter;
  --copper-fonts-paragraphMediumLink: Inter;
  --copper-fonts-paragraphMediumStrikethrough: Inter;
  --copper-fonts-paragraphMediumCode: Suisse Intl Mono;
  --copper-fonts-paragraphSmallRegular: Inter;
  --copper-fonts-paragraphSmallStrong: Inter;
  --copper-fonts-paragraphSmallLink: Inter;
  --copper-fonts-paragraphSmallStrikethrough: Inter;
  --copper-fonts-paragraphSmallCode: Suisse Intl Mono;
  --copper-fonts-labelLargeRegular: Inter;
  --copper-fonts-labelLargeStrong: Inter;
  --copper-fonts-labelLargeLink: Inter;
  --copper-fonts-labelLargeStrikethrough: Inter;
  --copper-fonts-labelDefaultRegular: Inter;
  --copper-fonts-labelDefaultStrong: Inter;
  --copper-fonts-labelDefaultLink: Inter;
  --copper-fonts-labelDefaultStrikethrough: Inter;
  --copper-fonts-labelDefaultMono: Suisse Intl Mono;
  --copper-fonts-labelSmallRegular: Inter;
  --copper-fonts-labelSmallStrong: Inter;
  --copper-fonts-labelSmallLink: Inter;
  --copper-fonts-labelSmallStrikethrough: Inter;
  --copper-fonts-labelSmallMono: Suisse Intl Mono;
  --copper-fonts-labelMiniRegular: Inter;
  --copper-fonts-labelMiniStrong: Inter;
  --copper-fonts-labelMiniLink: Inter;
  --copper-fonts-labelMiniStrikethrough: Inter;
  --copper-fonts-labelMiniMono: Suisse Intl Mono;
  --copper-fontSizes-titleHuge: 44px;
  --copper-fontSizes-titleLarge: 36px;
  --copper-fontSizes-titleDefault: 32px;
  --copper-fontSizes-titleMedium: 28px;
  --copper-fontSizes-titleSmall: 24px;
  --copper-fontSizes-titleTiny: 20px;
  --copper-fontSizes-paragraphLargeRegular: 18px;
  --copper-fontSizes-paragraphLargeStrong: 18px;
  --copper-fontSizes-paragraphLargeLink: 18px;
  --copper-fontSizes-paragraphLargeStrikethrough: 18px;
  --copper-fontSizes-paragraphDefaultRegular: 16px;
  --copper-fontSizes-paragraphDefaultStrong: 16px;
  --copper-fontSizes-paragraphDefaultLink: 16px;
  --copper-fontSizes-paragraphDefaultStrikethrough: 16px;
  --copper-fontSizes-paragraphMediumRegular: 14px;
  --copper-fontSizes-paragraphMediumStrong: 14px;
  --copper-fontSizes-paragraphMediumLink: 14px;
  --copper-fontSizes-paragraphMediumStrikethrough: 14px;
  --copper-fontSizes-paragraphMediumCode: 14px;
  --copper-fontSizes-paragraphSmallRegular: 12px;
  --copper-fontSizes-paragraphSmallStrong: 12px;
  --copper-fontSizes-paragraphSmallLink: 12px;
  --copper-fontSizes-paragraphSmallStrikethrough: 12px;
  --copper-fontSizes-paragraphSmallCode: 12px;
  --copper-fontSizes-labelLargeRegular: 16px;
  --copper-fontSizes-labelLargeStrong: 16px;
  --copper-fontSizes-labelLargeLink: 16px;
  --copper-fontSizes-labelLargeStrikethrough: 16px;
  --copper-fontSizes-labelDefaultRegular: 14px;
  --copper-fontSizes-labelDefaultStrong: 14px;
  --copper-fontSizes-labelDefaultLink: 14px;
  --copper-fontSizes-labelDefaultStrikethrough: 14px;
  --copper-fontSizes-labelDefaultMono: 14px;
  --copper-fontSizes-labelSmallRegular: 12px;
  --copper-fontSizes-labelSmallStrong: 12px;
  --copper-fontSizes-labelSmallLink: 12px;
  --copper-fontSizes-labelSmallStrikethrough: 12px;
  --copper-fontSizes-labelSmallMono: 12px;
  --copper-fontSizes-labelMiniRegular: 11px;
  --copper-fontSizes-labelMiniStrong: 11px;
  --copper-fontSizes-labelMiniLink: 11px;
  --copper-fontSizes-labelMiniStrikethrough: 11px;
  --copper-fontSizes-labelMiniMono: 11px;
  --copper-fontWeights-titleHuge: 500;
  --copper-fontWeights-titleLarge: 500;
  --copper-fontWeights-titleDefault: 500;
  --copper-fontWeights-titleMedium: 500;
  --copper-fontWeights-titleSmall: 500;
  --copper-fontWeights-titleTiny: 500;
  --copper-fontWeights-paragraphLargeRegular: 500;
  --copper-fontWeights-paragraphLargeStrong: 600;
  --copper-fontWeights-paragraphLargeLink: 500;
  --copper-fontWeights-paragraphLargeStrikethrough: 500;
  --copper-fontWeights-paragraphDefaultRegular: 500;
  --copper-fontWeights-paragraphDefaultStrong: 600;
  --copper-fontWeights-paragraphDefaultLink: 500;
  --copper-fontWeights-paragraphDefaultStrikethrough: 500;
  --copper-fontWeights-paragraphMediumRegular: 500;
  --copper-fontWeights-paragraphMediumStrong: 600;
  --copper-fontWeights-paragraphMediumLink: 500;
  --copper-fontWeights-paragraphMediumStrikethrough: 500;
  --copper-fontWeights-paragraphMediumCode: 400;
  --copper-fontWeights-paragraphSmallRegular: 500;
  --copper-fontWeights-paragraphSmallStrong: 600;
  --copper-fontWeights-paragraphSmallLink: 500;
  --copper-fontWeights-paragraphSmallStrikethrough: 500;
  --copper-fontWeights-paragraphSmallCode: 400;
  --copper-fontWeights-labelLargeRegular: 500;
  --copper-fontWeights-labelLargeStrong: 600;
  --copper-fontWeights-labelLargeLink: 500;
  --copper-fontWeights-labelLargeStrikethrough: 500;
  --copper-fontWeights-labelDefaultRegular: 500;
  --copper-fontWeights-labelDefaultStrong: 600;
  --copper-fontWeights-labelDefaultLink: 500;
  --copper-fontWeights-labelDefaultStrikethrough: 500;
  --copper-fontWeights-labelDefaultMono: 400;
  --copper-fontWeights-labelSmallRegular: 500;
  --copper-fontWeights-labelSmallStrong: 600;
  --copper-fontWeights-labelSmallLink: 500;
  --copper-fontWeights-labelSmallStrikethrough: 500;
  --copper-fontWeights-labelSmallMono: 400;
  --copper-fontWeights-labelMiniRegular: 500;
  --copper-fontWeights-labelMiniStrong: 600;
  --copper-fontWeights-labelMiniLink: 500;
  --copper-fontWeights-labelMiniStrikethrough: 500;
  --copper-fontWeights-labelMiniMono: 400;
  --copper-lineHeights-titleHuge: 52px;
  --copper-lineHeights-titleLarge: 44px;
  --copper-lineHeights-titleDefault: 40px;
  --copper-lineHeights-titleMedium: 36px;
  --copper-lineHeights-titleSmall: 32px;
  --copper-lineHeights-titleTiny: 28px;
  --copper-lineHeights-paragraphLargeRegular: 28px;
  --copper-lineHeights-paragraphLargeStrong: 28px;
  --copper-lineHeights-paragraphLargeLink: 28px;
  --copper-lineHeights-paragraphLargeStrikethrough: 28px;
  --copper-lineHeights-paragraphDefaultRegular: 24px;
  --copper-lineHeights-paragraphDefaultStrong: 24px;
  --copper-lineHeights-paragraphDefaultLink: 24px;
  --copper-lineHeights-paragraphDefaultStrikethrough: 24px;
  --copper-lineHeights-paragraphMediumRegular: 20px;
  --copper-lineHeights-paragraphMediumStrong: 20px;
  --copper-lineHeights-paragraphMediumLink: 20px;
  --copper-lineHeights-paragraphMediumStrikethrough: 20px;
  --copper-lineHeights-paragraphMediumCode: 20px;
  --copper-lineHeights-paragraphSmallRegular: 16px;
  --copper-lineHeights-paragraphSmallStrong: 16px;
  --copper-lineHeights-paragraphSmallLink: 16px;
  --copper-lineHeights-paragraphSmallStrikethrough: 16px;
  --copper-lineHeights-paragraphSmallCode: 16px;
  --copper-lineHeights-labelLargeRegular: 20px;
  --copper-lineHeights-labelLargeStrong: 20px;
  --copper-lineHeights-labelLargeLink: 20px;
  --copper-lineHeights-labelLargeStrikethrough: 20px;
  --copper-lineHeights-labelDefaultRegular: 20px;
  --copper-lineHeights-labelDefaultStrong: 20px;
  --copper-lineHeights-labelDefaultLink: 20px;
  --copper-lineHeights-labelDefaultStrikethrough: 20px;
  --copper-lineHeights-labelDefaultMono: 20px;
  --copper-lineHeights-labelSmallRegular: 16px;
  --copper-lineHeights-labelSmallStrong: 16px;
  --copper-lineHeights-labelSmallLink: 16px;
  --copper-lineHeights-labelSmallStrikethrough: 16px;
  --copper-lineHeights-labelSmallMono: 16px;
  --copper-lineHeights-labelMiniRegular: 16px;
  --copper-lineHeights-labelMiniStrong: 16px;
  --copper-lineHeights-labelMiniLink: 16px;
  --copper-lineHeights-labelMiniStrikethrough: 16px;
  --copper-lineHeights-labelMiniMono: 16px;
  --copper-letterSpacings-titleHuge: 0%;
  --copper-letterSpacings-titleLarge: 0%;
  --copper-letterSpacings-titleDefault: 0%;
  --copper-letterSpacings-titleMedium: 0%;
  --copper-letterSpacings-titleSmall: 0%;
  --copper-letterSpacings-titleTiny: -1%;
  --copper-letterSpacings-paragraphLargeRegular: -1%;
  --copper-letterSpacings-paragraphLargeStrong: -1%;
  --copper-letterSpacings-paragraphLargeLink: -1%;
  --copper-letterSpacings-paragraphLargeStrikethrough: -1%;
  --copper-letterSpacings-paragraphDefaultRegular: -1%;
  --copper-letterSpacings-paragraphDefaultStrong: -1%;
  --copper-letterSpacings-paragraphDefaultLink: -1%;
  --copper-letterSpacings-paragraphDefaultStrikethrough: -1%;
  --copper-letterSpacings-paragraphMediumRegular: -1%;
  --copper-letterSpacings-paragraphMediumStrong: -1%;
  --copper-letterSpacings-paragraphMediumLink: -1%;
  --copper-letterSpacings-paragraphMediumStrikethrough: -1%;
  --copper-letterSpacings-paragraphMediumCode: 0%;
  --copper-letterSpacings-paragraphSmallRegular: -1%;
  --copper-letterSpacings-paragraphSmallStrong: -1%;
  --copper-letterSpacings-paragraphSmallLink: -1%;
  --copper-letterSpacings-paragraphSmallStrikethrough: -1%;
  --copper-letterSpacings-paragraphSmallCode: 0%;
  --copper-letterSpacings-labelLargeRegular: -2%;
  --copper-letterSpacings-labelLargeStrong: -2%;
  --copper-letterSpacings-labelLargeLink: -2%;
  --copper-letterSpacings-labelLargeStrikethrough: -2%;
  --copper-letterSpacings-labelDefaultRegular: -2%;
  --copper-letterSpacings-labelDefaultStrong: -2%;
  --copper-letterSpacings-labelDefaultLink: -2%;
  --copper-letterSpacings-labelDefaultStrikethrough: -2%;
  --copper-letterSpacings-labelDefaultMono: 4%;
  --copper-letterSpacings-labelSmallRegular: -1%;
  --copper-letterSpacings-labelSmallStrong: -1%;
  --copper-letterSpacings-labelSmallLink: -1%;
  --copper-letterSpacings-labelSmallStrikethrough: -1%;
  --copper-letterSpacings-labelSmallMono: 4%;
  --copper-letterSpacings-labelMiniRegular: -1%;
  --copper-letterSpacings-labelMiniStrong: -1%;
  --copper-letterSpacings-labelMiniLink: -1%;
  --copper-letterSpacings-labelMiniStrikethrough: -1%;
  --copper-letterSpacings-labelMiniMono: 4%;
  --copper-textCases-titleHuge: none;
  --copper-textCases-titleLarge: none;
  --copper-textCases-titleDefault: none;
  --copper-textCases-titleMedium: none;
  --copper-textCases-titleSmall: none;
  --copper-textCases-titleTiny: none;
  --copper-textCases-paragraphLargeRegular: none;
  --copper-textCases-paragraphLargeStrong: none;
  --copper-textCases-paragraphLargeLink: none;
  --copper-textCases-paragraphLargeStrikethrough: none;
  --copper-textCases-paragraphDefaultRegular: none;
  --copper-textCases-paragraphDefaultStrong: none;
  --copper-textCases-paragraphDefaultLink: none;
  --copper-textCases-paragraphDefaultStrikethrough: none;
  --copper-textCases-paragraphMediumRegular: none;
  --copper-textCases-paragraphMediumStrong: none;
  --copper-textCases-paragraphMediumLink: none;
  --copper-textCases-paragraphMediumStrikethrough: none;
  --copper-textCases-paragraphMediumCode: none;
  --copper-textCases-paragraphSmallRegular: none;
  --copper-textCases-paragraphSmallStrong: none;
  --copper-textCases-paragraphSmallLink: none;
  --copper-textCases-paragraphSmallStrikethrough: none;
  --copper-textCases-paragraphSmallCode: none;
  --copper-textCases-labelLargeRegular: none;
  --copper-textCases-labelLargeStrong: none;
  --copper-textCases-labelLargeLink: none;
  --copper-textCases-labelLargeStrikethrough: none;
  --copper-textCases-labelDefaultRegular: none;
  --copper-textCases-labelDefaultStrong: none;
  --copper-textCases-labelDefaultLink: none;
  --copper-textCases-labelDefaultStrikethrough: none;
  --copper-textCases-labelDefaultMono: uppercase;
  --copper-textCases-labelSmallRegular: none;
  --copper-textCases-labelSmallStrong: none;
  --copper-textCases-labelSmallLink: none;
  --copper-textCases-labelSmallStrikethrough: none;
  --copper-textCases-labelSmallMono: uppercase;
  --copper-textCases-labelMiniRegular: none;
  --copper-textCases-labelMiniStrong: none;
  --copper-textCases-labelMiniLink: none;
  --copper-textCases-labelMiniStrikethrough: none;
  --copper-textCases-labelMiniMono: uppercase;
  --copper-textDecorations-titleHuge: none;
  --copper-textDecorations-titleLarge: none;
  --copper-textDecorations-titleDefault: none;
  --copper-textDecorations-titleMedium: none;
  --copper-textDecorations-titleSmall: none;
  --copper-textDecorations-titleTiny: none;
  --copper-textDecorations-paragraphLargeRegular: none;
  --copper-textDecorations-paragraphLargeStrong: none;
  --copper-textDecorations-paragraphLargeLink: underline;
  --copper-textDecorations-paragraphLargeStrikethrough: line-through;
  --copper-textDecorations-paragraphDefaultRegular: none;
  --copper-textDecorations-paragraphDefaultStrong: none;
  --copper-textDecorations-paragraphDefaultLink: underline;
  --copper-textDecorations-paragraphDefaultStrikethrough: line-through;
  --copper-textDecorations-paragraphMediumRegular: none;
  --copper-textDecorations-paragraphMediumStrong: none;
  --copper-textDecorations-paragraphMediumLink: underline;
  --copper-textDecorations-paragraphMediumStrikethrough: line-through;
  --copper-textDecorations-paragraphMediumCode: none;
  --copper-textDecorations-paragraphSmallRegular: none;
  --copper-textDecorations-paragraphSmallStrong: none;
  --copper-textDecorations-paragraphSmallLink: underline;
  --copper-textDecorations-paragraphSmallStrikethrough: line-through;
  --copper-textDecorations-paragraphSmallCode: none;
  --copper-textDecorations-labelLargeRegular: none;
  --copper-textDecorations-labelLargeStrong: none;
  --copper-textDecorations-labelLargeLink: underline;
  --copper-textDecorations-labelLargeStrikethrough: line-through;
  --copper-textDecorations-labelDefaultRegular: none;
  --copper-textDecorations-labelDefaultStrong: none;
  --copper-textDecorations-labelDefaultLink: underline;
  --copper-textDecorations-labelDefaultStrikethrough: line-through;
  --copper-textDecorations-labelDefaultMono: none;
  --copper-textDecorations-labelSmallRegular: none;
  --copper-textDecorations-labelSmallStrong: none;
  --copper-textDecorations-labelSmallLink: underline;
  --copper-textDecorations-labelSmallStrikethrough: line-through;
  --copper-textDecorations-labelSmallMono: none;
  --copper-textDecorations-labelMiniRegular: none;
  --copper-textDecorations-labelMiniStrong: none;
  --copper-textDecorations-labelMiniLink: underline;
  --copper-textDecorations-labelMiniStrikethrough: line-through;
  --copper-textDecorations-labelMiniMono: none;
  --copper-transitions-ease1: all 0.1s ease;
  --copper-transitions-ease: all 0.2s ease;
  --copper-transitions-easeInOut1: all 0.1s ease-in-out;
  --copper-transitions-easeInOut: all 0.2s ease-in-out;
  --copper-zIndices-10: 10;
  --copper-zIndices-20: 20;
  --copper-zIndices-30: 30;
  --copper-zIndices-40: 40;
  --copper-zIndices-50: 50;
}
